/* Загальні стилі */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e8eef2;
}

/* Головний контейнер */
.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

/* Ліва панель */
.sidebar {
    width: 30%;
    background: #0f375c;
    color: white;
    padding: 25px;
}

.profile-img {
    width: 100%;
    border-radius: 10px;
}

/* Блоки інформації */
.info-block h2 {
    border-left: 3px solid #4ea1ff;
    padding-left: 10px;
    margin-top: 30px;
    font-size: 18px;
}

.info-block ul {
    padding-left: 15px;
}

.info-block li {
    margin-bottom: 5px;
}

/* Основний контент */
.main-content {
    width: 70%;
    background: #f5f5f5;
    padding: 40px;
}

.main-content h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.line {
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    margin-top: 40px;
}

/* Адаптивність */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .sidebar, .main-content {
        width: 100%;
    }
}
